
body {
  color: #fff;
  background-color:#000 !important
}

a {
  color: #fff;
}

.f-13.email-input.discut {
  border-color: #fff !important;
  color: #fff !important;
  
}

.f-13.email-input.discut::-webkit-input-placeholder {
  color: #fff !important;
}

.f-13.email-input.discut:-ms-input-placeholder {
  color: #fff !important;
}

.f-13.email-input.discut::-ms-input-placeholder {
  color: #fff !important;
}

.f-13.email-input.discut::placeholder {
  color: #fff !important;
}


.header {
  border-color:#fff !important;
  background-color: #000 !important;
}
.header.search-page {
  background-color: transparent !important;
}

.section {
  border-color: #fff !important;
}

.section.flex-horizontal.discut.pages {
  color:#292928 !important;
}

.submit-btn-overlay { 
  color: #fff !important;
  border-color:#fff !important;
}
.submit-btn-overlay.footer { 
  color: #000 !important;
}

.text-purple {
  color: #6943f7 !important;
}

.text-black {
  color: #fff !important;
}

.nav-link {
  border-color: #fff !important;
  background-color: #000 !important;
}

.block-img {
  border-color:#fff;
}

.sub-title-block {
  border-color: #fff !important;
  background-color: #000 !important;
}

.separator {
  background-color: #fff !important;
}

.verticale-list {
  border-color: #fff !important;
}

.verticale-item {
  border-color:#fff !important;
}

.cach-image {
  background-color: #fff;
}

.rs-block.button {
  border-color: #fff;
}

.project-list-wrapper {
  border-color: #fff !important;
}

.project-item {
  border-color: #fff !important;
}

.project-item.home-page { 
  border-right-color: #fff !important;
}

.actu-item {
  border-color: #fff;
}

.equipe-slider {
  border-color: #fff !important;
}

.hero {
  border-color: #fff;
  background-color: #000;
}

.hero.hero-text {
  border-bottom-color: #fff !important;
  background-color: #000 !important;
}

.main-wrapper2 {
  border-color: #fff !important;
  background-color: #000 !important;
}

.project-item {
  border-color: #fff;
}

.project-item.creation-page {
  border-color: #fff !important;
}

.section-wrapper {
  background-color: #000 !important;
}

.btn-nav {
  border-color: #fff !important;
}

.cach-title {
  background-color: #fff !important;
}

.paragraph-wrapper {
  border-color: #fff !important;
}

.hero-line {
  background-color: #000 !important;
}

.metier-list--dot{
background-color:#fff !important;
}

.names-wrapper{
border-color:white;
}

@media screen and (max-width: 991px) {
  
  .block-text { 
    border-color: #fff !important;
  }

  .verticale-item { 
    border-color: #fff !important;
  }

  .project-item:nth-child(odd) {
    border-right-color: #fff !important;
  }

  .project-item.link-box {
    border-color: #fff !important;
  }
}

@media screen and (max-width: 767px) {
  
  .navbar.mobile {
    background-color: #000 !important;
  }

  .menu-wrapper {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }
}

@media screen and (max-width: 479px) {
  .nav-link {
    border-color: #fff !important;
  }

  .menu {
    background-color: #000 !important;
  }
}


@media screen and ( min-width:992px) and (orientation:landscape){
  
  .nav:before{
    background-color:#fff !important;
  }
  .nav:hover{
    color:#000 !important;
  }
  
  #darkM-btn:before{
    background-color:#fff !important;
  }

  #search-btn:before{
    background-color:#6943f7 !important;
  }
}


.nav-link:not(.active):hover{
  color:#000 !important;
}
.nav-link:before{
  background-color:#000 !important;
}
.nav-link:after{
 	background-color:#fff !important;
}
#search-icon path{
  fill:#fff !important;
}
#dark-icon circle{
  fill:#000 !important;
  stroke:#fff ! important;
}
#dark-icon path{
  fill:#fff !important;
  stroke:#fff !important;
}
.link-block--more:hover .icon-group .icon-group--default{
  fill:#fff !important;
}


/* HOME FORM FOOTER */
.submit-btn-overlay.home{
  border-color:#fff !important;
}
.submit-btn-overlay.home:before{
  background-color:#fff!important;
}
.submit-btn-wrapper:hover .submit-btn-overlay.home{
  color:#000 !important;
}
.submit-btn-wrapper .submit-btn-overlay.home .arrow-default {
  fill:#fff !important;
}
.submit-btn-wrapper:hover .submit-btn-overlay.home .arrow-hovered {
  fill:#000 !important;
}

.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after {
  background-color: #fff !important; 
}

#discut-section{
background-color:#000 !important;
border-top:solid 1px #fff !important
}


  
